.mry-content(ng-if='ctrl.loading')
  .mry-spinner.mry-spinner-white

.mry-content.mry-content-centered.mry-hpadding-lg.joel-brand.joel-bg(ng-if='!ctrl.loading')
  h1.text-center.huge(translate) Berry Graphs
  p.text-center(translate) This app shows your properties' energy consumption in basic graphs. Click the button below to get started. If you don't have a Metry account, you can sign up for one at <a href="https://metry.io">metry.io</a>.
  p.text-center
    metry-connect-button(on-authenticated='ctrl.onAuthDone()')
